* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

:root {
  --Pale-Violet: hsl(276, 100%, 81%);
  --Moderate-Violet: hsl(276, 55%, 52%);
  --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
  --Grayish-Blue: hsl(206, 6%, 79%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Dark-Grayish-Violet: hsl(270, 7%, 64%);
  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);
  --bg-chat-light: #f9f4fa;
  --White: hsl(0, 0%, 100%);
  --Light-Grayish-Violet: hsl(270, 20%, 96%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Very-Light-Magenta: hsl(289, 100%, 72%);
}

.bg-container {
  position: fixed;
  min-width: 100%;
  min-height: 100vh;
  top: 0;
  z-index: 0;
}

.bg-dark {
  background-image: linear-gradient(
    to top,
    var(--Light-Violet),
    var(--Light-Magenta)
  );
  left: 0;
  top: 0;
  transform: translateX(-50%);
  border-bottom-right-radius: 50vw;
  border-bottom-left-radius: 50vw;
}

.bg-light {
  background-color: var(--bg-chat-light);
  right: 0;
  bottom: 0;
  transform: translateX(50%);
  border-top-right-radius: 50vw;
  border-top-left-radius: 50vw;
}

.bg-dark,
.bg-light {
  width: 450px;
  height: 50vh;
  position: absolute;
}

@media (min-width: 800px) {
  .bg-dark {
    left: -60px;
  }
  .bg-light {
    right: -60px;
  }
  .bg-dark,
  .bg-light {
    transform: translateX(0);
    height: 80vh;
  }
}

.mobile-container {
  width: 270px;
  padding: 10px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

main > * {
  position: relative;
  z-index: 1;
}

.mobile-container .header {
  background-image: linear-gradient(
    to top,
    var(--Light-Violet),
    var(--Light-Magenta)
  );
  display: flex;
  position: relative;
  align-items: center;
  color: var(--bg-chat-light);
  gap: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  padding-top: 25px;
}

.mobile-container .header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 15px;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.mobile-container .header img {
  width: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.mobile-container .header .username .title {
  font-weight: 500;
}

.mobile-container .header .username .status {
  font-weight: 400;
  font-size: 0.55rem;
  color: var(--Dark-Grayish-Violet);
  margin-top: 3px;
}

.mobile-container .header .more {
  position: relative;
  margin-left: auto;
  margin-right: 10px;
}

.mobile-container .header .more span {
  position: absolute;
  right: 0;
  background-color: #fff;
  width: 2px;
  height: 2px;
}

.mobile-container .header .more span:nth-of-type(1) {
  top: -2px;
}
.mobile-container .header .more span:nth-of-type(2) {
  top: 2px;
}
.mobile-container .header .more span:nth-of-type(3) {
  top: 6px;
}

.messages-container {
  margin-top: 10px;
  font-size: 0.65rem;
  background-color: #f8f8f8;
}

.message {
  max-width: 150px;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  line-height: 1.6;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.message.left {
  background-color: var(--bg-chat-light);
  color: var(--Light-Violet);
}
.message.right {
  background-color: #fff;
  color: var(--Light-Violet);
}

.messages-container .left {
  margin-right: auto;
}

.messages-container .right {
  margin-left: auto;
}

.messages-container .images.right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

.messages-container .images img {
  width: 40px;
  border-radius: 12px;
}

.messages-container .list-item {
  background-image: linear-gradient(
    to left,
    var(--Light-Violet),
    var(--Light-Magenta)
  );
  padding: 10px;
  border-radius: 15px;
  border-bottom-left-radius: 5px;
  color: var(--bg-chat-light);
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 5px;
}

.messages-container .list-item .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--bg-chat-light);
}

.messages-container .list-item .price {
  margin-left: auto;
  font-weight: 800;
  font-size: 16px;
  margin-right: 7px;
}

.messages-container .type {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
}

.messages-container .type .send {
  background-color: var(--Very-Dark-Desaturated-Violet);
}
